body {
    background: beige;
    box-sizing: content-box;
    margin:0;
    padding: 0;
}


.C1 {
    display: flex;
    flex-direction: row;
    border: black  solid 3px;
    width: 100%;
    height: 50px;
    margin: 20px;
    padding: 5px;
}

.C2 {
    display:flex;
    flex-direction: column;
    width: 150px;
    height: 350px;
    border: black solid 4px;
}



